[user]
  	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGq0FGHoWH5E4m5IMNOVMMcIZ5DYlumycAH2F7osvsO6
	email = wihan@glydepay.io
	name = Wihan Uys

[gpg]
  	format = ssh

[gpg "ssh"]
  	program = "/opt/1Password/op-ssh-sign"

[commit]
  	gpgsign = true

